@use "../helpers" as *;

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include respond(sm) {
    max-width: 450px;
  }

  @include respond(md) {
    max-width: 720px;
  }

  @include respond(lg) {
    max-width: 960px;
  }

  @include respond(xl) {
    max-width: 1200px;
  }
}
