@use "../helpers/variables" as *;
@mixin respond($size) {
  $breakpoint: map-get($breakpoints, $size);
  @if $breakpoint {
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "Breakpoint #{$size} not found!";
  }
}
